@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@mixin popup-background-wrap {
  @include size(100%);
  position: fixed;
  background-color: rgba(0,0,0,0.3);
  left: 0;
  top: 0;
  z-index: 100;
}

@mixin current-container-body-title {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@mixin current-container-body-title-highlight {
  line-height: 26px;
  font-size: 22px;
  color: #1c75b9;
}

@mixin current-container-body-icon {
  padding: 21px 0 8px 0;
  width: 100%;
}

@mixin current-container-body-icon-process {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100px;
}

@mixin current-container-body-label {
  font-size: 16px;
  font-weight: bold;
  color: #85b0e5;
}
